/* external css */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
}

/* mobile phones */
/* [class*="col-"] {
  width: 100%;
} */

@media only screen and (max-width: 600px) {
    /* mobile phones */
    .col-xm-12 {
        width: 100%;
      }
    
    body {
        background-color : #1111
    }
}

@media only screen and (min-width: 780px) {
  /* device : tablet */
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
    float: left;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  /* laptop/komputer */
  .col-lg-1 {
    width: 8.33%;
    float:left;
  }

  .col-lg-2 {
    width: 16.66%;
    float:left;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
  }

  .col-lg-4 {
    width: 33.33%;
    float:left;
  }

  .col-lg-5 {
    width: 41.66%;
    float:left;
  }

  .col-lg-6 {
    width: 50%;
    float:left;
  }

  .col-lg-7 {
    width: 58.33%;
    float:left;
  }

  .col-lg-8 {
    width: 66.66%;
    float:left;
  }

  .col-lg-9 {
    width: 75%;
    float:left;
  }

  .col-lg-10 {
    width: 83.33%;
    float:left;
  }

  .col-lg-11 {
    width: 91.66%;
    float:left;
  }

  .col-lg-12 {
    width: 100%;
    float:left;
  }
}

.bg-primary {
  background-color: #f76e11;
}

/* ==========================TEXT========================= */
/* text */
.txt-white {
  color: #ffff;
}

.txt-center {
  text-align: center;
}
/* ==========================TEXT========================= */

/* ==========================PADDING========================= */
/* padding */
.p-10 {
    padding: 10px;
}
.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}
/* ==========================PADDING========================= */

/* ==========================IMAGE========================= */
/* image */
.img-fluid {
  width: 100%;
  max-height: 168px;
  padding: 10px;
}

.img-border:hover {
  border: solid;
}

.img-news {
    width : 100%;
}
/* ==========================IMAGE========================= */

.row:after {
    content :"";
    clear: both;
    display: table;
}
